
# ignore all for now
/*
*

# build
dist
dist-types
target
target/*

.DS_Store
apps/web/.contentlayer

# dependencies
node_modules
/.pnp
.pnp.js

# vitest
coverage
html

.yarn/*
# !.yarn/patches
# !.yarn/plugins
# !.yarn/releases
# !.yarn/sdks
# !.yarn/versions


.rollup.cache

.turbo

.env
.env.dev
.env.prod
